# IDE
.buildpath
.project
.settings/
.idea
.idea/*
.vscode/

# OS
.DS_Store
Thumbs.db
__MACOSX

# Docker
.env
.env-old
docker-compose.override.yml
docker-compose-dev.override.yml

# Node.js
.config/
.npm/
node_modules/

# Node.js development
*.err
*.log
dist/
tmp/
