export API_MMAPPKEY=
export API_URL=https://test-makkelijkemarkt-api.datalabamsterdam.nl/api/1.1.0/
export APP_SECRET=acd98d73-034e-490c-ae38-ec11f69aa555
export DATABASE_URL=pgsql://pakjekraam:insecure@localhost:5432/pakjekraam
export DB_ADDR=database
export DB_DATABASE=pakjekraam
export DB_PASSWORD=insecure
export DB_USER=pakjekraam
export DB_VENDOR=postgres
export IAM_ADMIN_PASS=
export IAM_ADMIN_USER=
export IAM_CLIENT_ID=pakjekraam
export IAM_CLIENT_SECRET=insecure
export IAM_REALM=pakjekraam
export IAM_URL=http://localhost:8081/auth/
export MAILER_FROM=noreply@amsterdam.nl
export MAILER_URL=smtp://apikey:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX@smtp.sendgrid.net:587/
export NODE_ENV=development
export POSTGRES_DB=pakjekraam
export POSTGRES_PASSWORD=insecure
export POSTGRES_USER=pakjekraam
