.icon-lantaarnpaal {
    &:before {
        content: $icon-lantaarnpaal;
    }
}
.icon-bankje {
    &:before {
        content: $icon-bankje;
    }
}
.icon-boom {
    &:before {
        content: $icon-boom;
    }
}
.icon-electra {
    &:before {
        content: $icon-electra;
    }
}
.icon-loopjediedichtmag {
    &:before {
        content: $icon-loopjediedichtmag;
    }
}
.icon-Check-Mark {
    &:before {
        content: $icon-Check-Mark;
    }
}
.icon-Error {
    &:before {
        content: $icon-Error;
    }
}
.icon-Quote {
    &:before {
        content: $icon-Quote;
    }
}
.icon-Announcement {
    &:before {
        content: $icon-Announcement;
    }
}
.icon-Close {
    &:before {
        content: $icon-Close;
    }
}
.icon-Document-Text {
    &:before {
        content: $icon-Document-Text;
    }
}
.icon-Email {
    &:before {
        content: $icon-Email;
    }
}
.icon-Enlarge-Font {
    &:before {
        content: $icon-Enlarge-Font;
    }
}
.icon-Enlarge {
    &:before {
        content: $icon-Enlarge;
    }
}
.icon-External-Link {
    &:before {
        content: $icon-External-Link;
    }
}
.icon-Minimise {
    &:before {
        content: $icon-Minimise;
    }
}
.icon-Passport {
    &:before {
        content: $icon-Passport;
    }
}
.icon-Alert {
    &:before {
        content: $icon-Alert;
    }
}
.icon-Calendar {
    &:before {
        content: $icon-Calendar;
    }
}
.icon-Card {
    &:before {
        content: $icon-Card;
    }
}
.icon-Chevron-Down {
    &:before {
        content: $icon-Chevron-Down;
    }
}
.icon-Chevron-Right {
    &:before {
        content: "\e97b";
    }
}
.icon-Chevron-Top {
    &:before {
        content: $icon-Chevron-Top;
    }
}
.icon-Download {
    &:before {
        content: $icon-Download;
    }
}
.icon-Location {
    &:before {
        content: $icon-Location;
    }
}
.icon-Login {
    &:before {
        content: $icon-Login;
    }
}
.icon-Logout {
    &:before {
        content: $icon-Logout;
    }
}
.icon-Menu {
    &:before {
        content: $icon-Menu;
    }
}
.icon-Opening-Hours {
    &:before {
        content: $icon-Opening-Hours;
    }
}
.icon-Checkmark {
    &:before {
        content: $icon-Checkmark;
    }
}
.icon-Chevron-Left {
    &:before {
        content: $icon-Chevron-Left;
    }
}
.icon-Document {
    &:before {
        content: $icon-Document;
    }
}
.icon-Print {
    &:before {
        content: $icon-Print;
    }
}
.icon-Search {
    &:before {
        content: $icon-Search;
    }
}
.icon-Trash-Bin {
    &:before {
        content: $icon-Trash-Bin;
    }
}
