@mixin button($bgColor, $bgColorHover, $fontColor, $borderColor, $borderColorHover) {
    display: inline-block;
    padding: 0 15px;
    min-width: 90px;
    line-height: 42px;
    text-decoration: none;
    cursor: pointer;
    background-color: $bgColor;
    text-align: center;
    color: $fontColor;
    border: 1px solid $bgColor;
    transition: background-color 0.4s;
    &:hover {
        color: $fontColor;
        background-color: $bgColorHover;
        border-color: $bgColorHover;
    }
    &:hover:after {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &[disabled="disabled"] {
        color: $neutral-grey3;
        background-color: $neutral-grey2;
        &:before,
        &:after {
            display: none;
        }
    }
    &:focus {
        outline: $support-focus 4px solid;
    }
}

@mixin button-primary() {
    @include buttonlabel-primary;
    @include button($primary-red, $primary-red-darker, $primary-white, $primary-red, $primary-red-darker);
}
@mixin button-secondary() {
    @include buttonlabel-secondary;
    @include button(
        $primary-darkblue,
        $primary-darkblue-darker,
        $primary-white,
        $primary-darkblue,
        $primary-darkblue-darker
    );
}
@mixin button-tertiary() {
    @include buttonlabel-tertiary;
    @include button($primary-white, $primary-darkblue, $primary-darkblue, $primary-darkblue, $primary-darkblue-darker);
}

@mixin icon($iconName) {
    /* use !important to prevent issues with browser extensions that change fonts */
    content: $iconName;
    font-family: "#{$icomoon-font-family}" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
