@mixin button($bgColor, $bgColorHover, $fontColor, $fontColorHover, $borderColor, $borderColorHover) {
    display: inline-block;
    padding: 0 15px;
    min-width: 90px;
    line-height: 42px;
    height: 42px;
    text-decoration: none;
    cursor: pointer;
    background-color: $bgColor;
    text-align: center;
    color: $fontColor;
    border: 1px solid $borderColor;
    border-radius: 0;
    transition: background-color 0.4s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        color: $fontColorHover;
        background-color: $bgColorHover;
        border-color: $borderColorHover;
    }
    &:hover:after {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &[disabled="disabled"] {
        color: $neutral-grey3;
        background-color: $neutral-grey2;
        &:before,
        &:after {
            display: none;
        }
    }
    &:focus {
        outline: $support-focus 4px solid;
    }
}

@mixin button-primary() {
    @include buttonlabel-primary;
    @include button(
        $primary-red,
        $primary-red-darker,
        $primary-white,
        $primary-white,
        $primary-red,
        $primary-red-darker
    );
}
@mixin button-secondary() {
    @include buttonlabel-secondary;
    @include button(
        $primary-darkblue,
        $primary-darkblue-darker,
        $primary-white,
        $primary-white,
        $primary-darkblue,
        $primary-darkblue-darker
    );
}
@mixin button-tertiary() {
    @include buttonlabel-tertiary;
    @include button(
        $primary-white,
        $primary-darkblue,
        $primary-darkblue,
        $primary-white,
        $primary-darkblue,
        $primary-darkblue-darker
    );
}

@mixin icon($iconName) {
    /* use !important to prevent issues with browser extensions that change fonts */
    content: $iconName;
    font-family: "#{$icomoon-font-family}" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
@mixin linkHeader() {
    @include p1;
    text-decoration: none;
    color: $primary-black;
    &:hover {
        color: $primary-red;
        text-decoration: underline;
    }
    &:hover:before {
        color: $primary-black;
    }
    &:focus {
        background-color: $support-focus;
        outline: 2px solid $support-focus;
    }
}
@mixin fontBold() {
    font-family: $ff-bold;
    font-weight: 700;
}
