$screenMedium: 540px;
$screenLarge: 1024px;

$columnWidth: 60px;
$gutterWidth: 20px;
$maxWidth: 1000px;
$containerMarginMobile: 15px;
$containerMarginDesktop: 20px;
$containerMarginDesktopPlus: 30px;

$colorListBranch: (
    stn: #000000,
    agf: #2aff00,
    blm: #ff0084,
    vis: #5aacff,
    kip: #ffeaad,
    kas: #ffca28,
    bak: #ff0000,
    baks1: #000022,
    baks2: #000033,
    baks3: #000044,
    baks4: #000055,
    baks5: #000066,
    baks6: #000077
);

$iconListPlaats: (loopje, loopjediedichtmag, lantaarnpaal, bankje, boom, electra);

$ff-regular: "Avenir Next LT W01 Regular", verdana, sans-serif;
$ff-bold: "Avenir Next LT W01 Demi", verdana, sans-serif;

$fs-100: 30px;
$fs-90: 24px;
$fs-80: 20px;
$fs-70: 18px;
$fs-60: 16px;
$fs-50: 14px;

$lh-100: 38px;
$lh-90: 30px;
$lh-80: 28px;
$lh-70: 25px;
$lh-60: 22px;
$lh-50: 18px;

$boxShadowDefault: 2px 3px 4px 0 rgba(0, 0, 0, 0.2);

$vm1: 5px;
$vm2: 2 * $vm1;
$vm3: 3 * $vm1;
$vm4: 6 * $vm1;
$vm5: 9 * $vm1;
$vm6: 12 * $vm1;

$hm1: 5px;
$hm2: 2 * $hm1;
$m3: 3 * $hm1;
$hm4: 6 * $hm1;
$hm5: 9 * $hm1;
$hm6: 12 * $hm1;

$buttonMinHeight: 44px;

$primary-red-darker: #bd0000;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts" !default;

$icon-Check-Mark: "\e900";
$icon-Error: "\e901";
$icon-Quote: "\e966";
$icon-Announcement: "\e96e";
$icon-Close: "\e96f";
$icon-Document-Text: "\e970";
$icon-Email: "\e971";
$icon-Enlarge-Font: "\e972";
$icon-Enlarge: "\e973";
$icon-External-Link: "\e974";
$icon-Minimise: "\e975";
$icon-Passport: "\e976";
$icon-Alert: "\e977";
$icon-Calendar: "\e978";
$icon-Card: "\e979";
$icon-Chevron-Down: "\e97a";
$icon-Chevron-Right: "\e97b";
$icon-Chevron-Top: "\e97c";
$icon-Download: "\e97d";
$icon-Location: "\e97e";
$icon-Login: "\e97f";
$icon-Logout: "\e980";
$icon-Menu: "\e981";
$icon-Opening-Hours: "\e982";
$icon-Checkmark: "\e983";
$icon-Chevron-Left: "\e984";
$icon-Document: "\e985";
$icon-Print: "\e986";
$icon-Search: "\e987";
$icon-Trash-Bin: "\e988";
