@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.Alert {
    border: 2px solid $neutral-grey3;
    padding: 16px 20px 16px 60px;
    min-height: 30px;
    background-color: $primary-white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: 4s ease-out 0s 1 slideInFromLeft forwards;
    top: 80px;
    min-width: 210px;
    width: calc( 100%  - ( 2* #{$gutter}) );
    z-index: 100;

    @media screen and (min-width: $screenMedium) {
        font-size: 16px;
        width: auto;
        margin-left: $gutter;
    }

    &.inline {
        animation: none;
        display: block;
        left: auto;
        margin: $gutter auto;
        max-width: 400px;
        opacity: 1;
        position: relative;
        top: auto;
        transform: none;
        z-index: 90;
    }
    &.wide {
        max-width: 620px;
    }

    >.icon:before {
        position: absolute;
        left: 20px;
        top: 16px;
        width: 20px;
        height: 20px;
        font-size: 22px;
        @include icon($icon-Alert);
    }
    >h4 {
        @include h4;
        margin: 0;
    }
    >.message {
        @include p1;
        margin-top: 2px;

        >.sub {
            font-size: 0.875rem;
            font-style: italic;
        }
    }

    &.error {
        border-color: $primary-red;

        >.icon:before {
            @include icon($icon-Error);
            color: $primary-red;
            top: 20px;
            font-size: 20px;
        }
    }
    &.activation-failed,
    &.non-matching-passwords,
    &.incorrect-credentials,
    &.warning {
        border-color: $supplement-orange;

        >.icon:before {
            color: $supplement-orange;
        }
    }
    &.algemene-voorkeuren-saved,
    &.plaatsvoorkeuren-saved,
    &.aanwezigheid-saved,
    &.success {
        border-color: $supplement-lightgreen;

        >.icon:before {
            @include icon($icon-Check-Mark);
            color: $supplement-lightgreen;
        }
    }

    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: (($i - 1) * 4s);
        }
    }
}
