.Draggable-list-item{

    padding: 6px 6px 6px 10px;
    background-color: $neutral-grey1;
    border: 1px solid $neutral-grey3;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    @media screen and (min-width: $screenMedium) {
        padding: 10px;
        // font-size: 16px;
    }

    &.sortable-chosen{
        background-color: $neutral-grey2;
    }

    &__handle{
        width: 20px;
        height: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: $screenMedium) {
            font-size: 16px;
        }

        &__bar{
            height: 2px;
            border-radius: 3px;
            background: $neutral-grey3;
            width: 100%;
        }
    }

    &:last-child{
        border-bottom: 1px solid $neutral-grey3;
    }

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon{
        height: 20px;
        img{
            height: 100%;
        }
    }

    &__label{
        margin-left: 10px;
        font-size: 16px;
        @media screen and (min-width: $screenMedium) {
            font-size: 16px;
            margin-left: $gutter;
        }
    }

    &__right {

    }

    &__delete{

        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            &:before{
                color: lighten($primary-darkblue, 20%);
            }
        }
        &:before {
            @include icon($icon-Trash-Bin);
            font-size: 22px;
            display: inline-block;
            text-align: center;
            color: $primary-darkblue;
            @media screen and (min-width: $screenMedium) {
                font-size: 20px;
            }
        }

    }

}