.Draggable-list-item{

    // padding: 6px 6px 6px 10px;
    // padding: .65rem;
    background-color: $neutral-grey1;
    border: 1px solid $neutral-grey3;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin: 0 auto $gutter-sm;
    position: relative;
    height: 46px;
    width: calc(100% - ( 6 * #{$gutter-sm}) );

    @media screen and (min-width: $screenMedium) {
        width: 100%;
    }

    &.sortable-chosen{
        background-color: $neutral-grey2;
    }

    &__handle{
        width: 20px;
        height: 100%;
        width: 46px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor:grab;

        @media screen and (min-width: $screenMedium) {
            font-size: 16px;
        }

        &__bar{
            height: 2px;
            width: 20px;
            border-radius: 3px;
            background: $neutral-grey3;
            &:first-child{
                margin-bottom: 2px;
            }
            &:last-child{
                margin-top: 2px;
            }
        }

    }

    &:last-child{
        border-bottom: 1px solid $neutral-grey3;
    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }

    &__icon{
        height: 20px;
        img{
            height: 100%;
        }
    }

    &__label{
        // margin-left: 10px;
        font-size: 16px;
        @media screen and (min-width: $screenMedium) {
            font-size: 16px;
            // margin-left: $gutter;
        }
    }

    &__right {
        text-decoration: none;
        width: 46px;
        height: 100%;
        position: absolute;
        display: flex;
        right: 0;
        top: 0px;
        align-items: center;
        justify-content: center;
        bottom: 0;
    }

    &__delete{

        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            &:before{
                color: lighten($primary-darkblue, 20%);
            }
        }
        &:before {
            @include icon($icon-Trash-Bin);
            font-size: 25px;
            display: inline-block;
            text-align: center;
            color: $primary-darkblue;
            // @media screen and (min-width: $screenMedium) {
            //     font-size: 20px;
            // }
        }

    }

}