.Fieldset {
    max-width: $fieldsetMaxWidth;
    border: none;
    &__header {
        @include fontBold;
        display: flex;
        justify-content: space-between;
        font-size: inherit;
        margin: 0;
        width: 100%;
    }
    &__sub-header {
        display: inline-block;
        margin-top: -20px;
        margin-bottom: $vm2;
    }
    &__title {
        margin: 0;
        margin-bottom: $hm5;
    }
    &__subtitle {
        display: inline-block;
        margin-bottom: 10px;
    }
    &--horizontal {
        display: flex;
        flex-wrap: wrap;
        .InputField--radiobutton {
            margin-right: 30px;
        }
    }
    & + & {
        margin-top: $vm5;
    }
}
