.Form {
    max-width: 620px;
    &--PlaatsvoorkeurenForm {
    }
    &--PlaatsvoorkeurenForm__row {
        margin-bottom: $vm2;
    }
    &--AlgemenevoorkeurenForm{
        margin-top: $gutter;
    }
    &--UploadMarktConfigForm{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__element{
        margin-top: $gutter;
    }
}
