$headerHeight: 112px;
$headerDesktopHeight: 152px;
$headerHeightTop: 68px;
$headerDesktopHeightTop: 108px;
$headerHeight__540: 162px;
$headerHeightTop__540: 108px;

.Header {
    //height: $headerHeight;
    display: flex;
    flex-direction: column;
    background-color: $neutral-grey1;
    &__top {
        background-color: $primary-white;
    }
    &__bottom {
        flex-grow: 1;
    }
    &__bottom-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: $headerHeight - $headerHeightTop;
        @media screen and (min-width: $screenMedium) {
            min-height: $headerDesktopHeight - $headerDesktopHeightTop;
        }
    }
    &__logo-link {
        width: 100px;
        // margin: $gutter;
        @media screen and (min-width: $screenMedium) {
            margin-right: 40px;
        }
    }
    &__logo {
        width: 100px;
        display: block;
    }
    &__top-container {
        display: flex;
        min-height: ($headerHeightTop - 10);
        padding: $gutter 0;
    }
    &__user{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-end;
        &__name{
            margin: 5px 0 0;
            // color: $primary-darkblue;
            font-weight: bold;
        }
        &__role{
            margin: 0 0;
            // font-weight: bold;
            // color: $primary-darkblue;
        }
    }
    &__heading {
        @include h4;
        margin: 0 0 0 10px;
        flex-grow: 1;
        line-height: 1;
        @media screen and (min-width: $screenMedium) {
            margin: -7px 0 0 0;
            @include h1;
        }
    }
    &__nav-item {
        @include sitenavitem-default;
        margin-right: 30px;
        &:hover {
            @include sitenavitem-hover;
            text-decoration: underline;
        }
    }
}
