.Icon{

    display: flex;
    color: black;
    font-size: 1rem;
    

    // &:before{
    //     font-family: icomoon!important;
    //     speak: none;
    //     font-style: normal;
    //     font-weight: 400;
    //     font-variant: normal;
    //     text-transform: none;
    //     line-height: 1;
    //     right: 0;
    // }

    &--icomoon{
        &:before{
            font-family: icomoon!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            right: 0;
        }
    }

    &--wissel{
        &:before{
            content: "↓↑";
            font-size: .75rem;
            letter-spacing: -2px;
        }
    }

    &--plus{
        &:before{
            content: "+";
        }
    }
    
    &--unchecked{
        &:before{
            content: "+";
            transform: rotate(45deg);
            font-size: 1.125rem;
        }
    }

    &--afgemeld{
        &:before{
            content: "≡";
            letter-spacing: -2px;
        }
    }

    &--lijst{
        &:before{
            content: "≡";
            font-family: icomoon!important;
        }
    }

    &--table{
        height: 100%;
        font-size: .65rem;
    }

}