.Icon-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: $gutter-xs $gutter;
    // background: $neutral-grey2;
    padding-left: 17px;
    border-left: 2px solid #b4b4b4;
    border-color: $primary-darkblue;
    &__icon{
        margin-right: $gutter;
        height: 4.5rem;
    }
    &__text{
        margin: 0;
    }
}