.IndelingsLegenda {
    font-size: 1rem;

    >table {
        border-collapse: collapse;

        th, td {
            border: 1px solid black;
        }

        th {
            padding: 5px 10px;
        }
        th.nr {
            width: 50px;
        }

        td {
            padding: 2px 10px;
        }
        td.autoColor {
            &.background-dark {
                color: whitesmoke;
            }
            &.background-light {
                color: $primary-black;
            }
        }
        td.bak {
            position: relative;

            &::after {
                border: 8px solid #FF8100;
                border-color: #FF8100 transparent transparent transparent;
                content: '';
                transform: rotate(135deg);
                height: 0;
                position: absolute;
                width: 0;
                top: -8px;
                left: -8px;
            }
        }
        td.nvt {
            color: #7F7F7F;
        }
    }
}
