@import "../global/designSystem";

.IndelingslijstList {
    width: 48%;
    vertical-align: top;
    &__wrapper {
        &:first-child .Plaats__prop {
            border-top: 1px solid;
        }
    }
    &__header {
        padding: 0 5px;
        border: none;
        border-bottom: 1px solid;
        @include p1;
    }
    &__header-row {
        //display: flex;
    }
    &__header-plaats {
        width: 10%;
    }
    &__header-properties {
        width: 12px;
    }
    &__vph {
        width: 20px;
        text-align: right;
    }
    &__table {
        width: 100%;
    }
}
