.IndelingslijstGroup {
    width: 48%;
    vertical-align: top;

    &__title {
        display: inline-block;
        margin: 20px 0 0 0;
    }

    &--block-right {
        margin-left: 52%;
    }

    &__landmark {
        @include p1;
        @include fontBold;
        font-size: 12px;
        text-align: center;
        margin: 0;
        display: inline-block;
        width: 100%;
        position: relative;
        line-height: 20px;
        z-index: 1;
        border: 1px solid $neutral-grey5;

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            border-top: solid 20px $neutral-grey2;
        }

        &-bottom {
            margin-top: 10px;
        }
    }

    &__table {
        border-collapse: collapse;
        width: 100%;

        >thead th {
            padding: 0;
            border: none !important;
            text-align: center;
        }
    }
}
