@import "../global/designSystem";

.IndelingslijstList {
    width: 48%;
    vertical-align: top;
    &__header {
        padding: 0 5px;
        border: none;
        @include p1;
    }
    &__header-row {
        //display: flex;
    }
    &__header-plaats {
        width: 10%;
    }
    &__header-properties {
        width: 12px;
    }
    &__vph {
        width: 20px;
        text-align: right;
    }
    &__table {
        width: 100%;
    }
    &.markt-19__straat-1a {
        margin-top: 61px;
    }
}
