$radiobutton-top: 8px;
$radiobutton-left: 0px;
.InputField {
    display: flex;
    flex-direction: column;

    &--submit {
        background-color: $neutral-grey2;
        min-height: 44px;
        padding: $vm1;
        flex-direction: column-reverse;
        align-items: flex-start;
        flex-wrap: wrap;
        & > * {
            margin: $vm1;
        }
        & > * {
            //margin-bottom: 10px;
        }
        & > :first-child {
            //margin-bottom: 0;
        }
    }
    &--checkbox {
        position: relative;
        margin-bottom: 10px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
            position: absolute;
        }
        label {
            padding: 10px 0 10px 40px;
            display: inline-block;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                width: 22px;
                height: 22px;
                background-color: $primary-white;
                border: 1px solid $primary-black;
            }
        }
        input:checked + label {
            &:after {
                content: "";
                @include icon($icon-Check-Mark);
                position: absolute;
                left: 0;
                font-size: 10px;
                text-align: center;
                padding-top: 7px;
                color: $primary-white;
                background-color: $primary-black;
            }
        }
    }
    &--number,
    &--text {
    }
    &--radiobutton {
        position: relative;
        margin-bottom: 10px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
            position: absolute;
        }
        label {
            padding: 10px 0 10px 40px;
            display: inline-block;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: $radiobutton-left - 2px;
                top: $radiobutton-top - 2px;
                width: 24px;
                height: 24px;
                background-color: $neutral-grey4;
                border-radius: 50%;
                transition: 0.3s linear;
                border: 2px solid $primary-white;
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                left: $radiobutton-left + 1;
                top: $radiobutton-top + 1;
                width: 22px;
                height: 22px;
                background-color: $primary-white;
                border-radius: 50%;
                transition: all 0.3s;
            }
            &:focus {
                outline: none;
            }
        }
        input:checked + label {
            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                left: $radiobutton-left + 1;
                top: $radiobutton-top + 1;
                width: 12px;
                height: 12px;
                background-color: $primary-black;
                border-radius: 50%;
                border: 5px solid $primary-white;
            }
        }
        label:hover:before {
            transform: scale(1.083333333);
            background-color: $primary-black;
        }
        label:focus {
            &:before {
                border: 2px solid $support-focus;
            }
        }
    }
    &--afmelden {
        max-width: 270px;
        margin-left: 10px;
        margin-right: 10px;
        label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &:before {
                content: "";
                position: absolute;
                background-color: $support-focus;
                left: -10px;
                top: 0;
                right: -10px;
                bottom: 0;
                z-index: -1;
                opacity: 0;
                transition: opacity 0.2s;
            }
        }
        input:checked + label {
            &:before {
                opacity: 1;
            }
        }
        &__date {
            float: right;
        }
        &__main {
            min-width: 130px;
        }
        &__rsvp-verified {
            background-color: $primary-black;
            color: $primary-white;
            font-size: 12px;
            line-height: 24px;
            font-family: $ff-bold;
            padding: 0 5px;
        }
        &__divider {
            max-width: 290px;
            margin: 20px 0;
        }
    }
    &--range {
        &__wrapper {
            line-height: 0;
            position: relative;
            width: 100%;
            input {
                display: inline-block;
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
        &__value-list {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            list-style: none;

            font-size: 0;
            line-height: 0;
            margin-top: -42px;
            pointer-events: none;
            position: relative;
            z-index: 1;
            margin-left: 3px;
            margin-right: 3px;
        }
        &__value-list-item {
            @include fontBold;
            padding: 0;
            font-size: $fs-50;
            line-height: 36px;
            display: inline-block;
            color: $primary-black;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            text-align: center;
            background-color: $neutral-grey2;
        }
    }
    @media screen and (min-width: $screenMedium) {
        &--submit {
            display: flex;
            flex-direction: row-reverse;
            align-content: flex-end;
            //& > * {
            //    margin: 0 10px 0;
            //}
            //& > :first-child {
            //    margin: 0;
            //}
        }
    }
}
