.LinkSummary{
    margin-bottom: $gutter-sm;
    display: flex;
    flex-direction: column;

    &__top{
        display: flex;
        flex-direction: row;
        align-items: center;
        .SollicitatieSpecs{
            margin: 0 0 0 $gutter-sm;
        }
    }

    &__links{
        margin-left: 15px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $screenMedium) {
            flex-direction: row;
        }

        > a {
            margin-right: $gutter-xs;
        }

        &__first-link{

        }

    }

}