.LoginButton {
    @include linkHeader;
    line-height: 20px;
    position: relative;
    padding-left: 25px;
    &:before {
        display: inline-block;
        margin-right: 5px;
        font-size: 20px;
        position: absolute;
        left: 0;
        top: -1px;
    }
    &--login:before {
        @include icon($icon-Login);
    }
    &--logout:before {
        @include icon($icon-Logout);
    }
}
