@import "../global/variables";

th,
td {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    &.roze {
        background-color: #ff99cc;
    }
    &.licht-blauw {
        background-color: #ccffff;
    }
    &.oranje {
        background-color: #ff9900;
    }
    &.blauw {
        color: white;
        background-color: #333399;
    }
    &.grijs {
        background-color: #c0c0c0;
    }
    &.groen {
        background-color: #1fb714;
    }
    &.licht-groen {
        background-color: #99cc00;
    }
    &.rood {
        background-color: #ff0000;
    }
    &.prom {
        background-color: #fcf305;
    }
    &.exp {
        background-color: #99ccff;
    }
    @each $key, $color in $colorListBranch {
        &.#{$key} {
            background-color: $color;
        }
    }
}

@media print {
    .looplijst-wrapper {
        position: absolute;
        z-index: 999999;
        top: 0;
        left: 0;
        right: 0;
    }
}
