table {
    width: 100%;
    //border: 1px solid;
}

.street-bundel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.indelingslijst__list {
    width: 40%;
    table {
        border: 1px solid;
    }
}
.albert-cuypstraat {
    &__straat-3b,
    &__straat-3a,
    &__straat-2a,
    &__straat-2b,
    &__straat-1b,
    &__straat-1a {
        width: 40%;
        border: 1px solid;
    }
}
