@import "../global/variables";


th,
td {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  &.roze {
    background-color: #FF99CC;
  }
  &.licht-blauw {
    background-color: #CCFFFF;
  }
  &.oranje {
    background-color: #FF9900;
  }
  &.blauw {
    color: white;
    background-color: #333399;
  }
  &.grijs{
    background-color: #C0C0C0;
  }
  &.groen {
    background-color: #1FB714;
  }
  &.licht-groen {
    background-color: #99CC00;
  }
  &.rood {
    background-color: #FF0000;
  }
  &.prom {
    background-color: #FCF305;
  }
  &.exp {
    background-color: #99CCFF;
  }
  @each $key, $color in $colorListBranch {
    &.#{$key} {
      background-color: $color;
    }
  }
}

@media print {

  .looplijst-wrapper {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
  }
}
