$ondernemerStatusHeight: 18px;
$ondernemerStatusHeightSmall: 15px;

.OndernemerStatus {
    @include fontBold;
    color: $primary-white;
    font-size: 9px;
    z-index: 1;
    position: relative;
    display: inline-block;
    overflow: hidden;
    line-height: $ondernemerStatusHeightSmall;
    padding: 0 4px;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 0;
        border: $ondernemerStatusHeight solid $primary-black;
        border-width: $ondernemerStatusHeightSmall;
        z-index: -1;
    }
    &--vpl:before {
        border-color: $primary-darkblue;
    }
    &--soll:before {
        border-color: $supplement-darkgreen;
    }
    &--exp:before {
        border-color: $supplement-purple;
    }
    &--vkk:before,
    &--tvpl:before,
    &--tvplz:before {
        border-color: $supplement-lightblue;
    }
    &--overig:before {
        border-color: $support-focus;
    }
}
