.OndernemerMarktTile {
    & > *:last-child {
        margin-bottom: 0;
    }
    & > *:first-child {
        margin-top: 0;
    }

    &__heading {
        margin: $gutter-sm 0;
        @media screen and (min-width: $screenMedium) {
        }
    }

    .Button{
        margin-bottom: 0;
    }

    .UitslagTile{
        margin-top: $gutter-sm;
    }


    &__update-row {
        // background: red;

        &__heading{
            margin: $gutter-sm 0;
        }

        &__status {
            display: inline;
            &--aangemeld {
                color: $supplement-darkgreen;
            }
            &--niet-aangemeld {
                color: $neutral-grey4;
            }
        }
        &__toewijzing {
            margin: 0;
        }
    }

}
