$itemMinWidth: 265px;

.OndernemerMarktAanwezigheid {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 30px;
    }
    &__list-item {
        position: relative;
        max-width: $itemMinWidth;
        &--not-attending {
            .OndernemerMarktAanwezigheid__date,
            .OndernemerMarktAanwezigheid__week-day {
                color: $neutral-grey3;
            }
            .OndernemerMarktAanwezigheid__attending {
            }
        }
        &--today:before {
            content: "";
            position: absolute;
            left: -18px;
            bottom: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $neutral-grey5;
        }
    }
    &__list-item-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .OndernemerMarktHeading {
        margin: 0 0 $vm4;
    }
    &__attending {
        width: 100px;
        text-align: right;
        display: inline-block;
    }
    &__divider {
        @include fontBold;
        display: inline-block;
        margin: $vm4 0 $vm1 0;
        white-space: nowrap;
    }
}
