$itemMinWidth: 197px;

.OndernemerMarktAanwezigheid {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 30px;
    }
    &__list-item {
        padding-left: 25px;
        position: relative;
        max-width: $itemMinWidth;
        &--attending:before {
            content: "";
            @include icon($icon-Check-Mark);
            display: block;
            position: absolute;
            left: 0;
            top: 2px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
        }
    }
    &__list-item-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .OndernemerMarktHeading {
        margin: 0 0 $vm4;
    }
    &__divider {
        display: flex;
        margin: 15px 0;
        position: relative;
        color: $neutral-grey4;
        white-space: nowrap;
        &:after,
        &:before {
            content: "";
            display: block;
            height: 1px;
            width: 50%;
            margin-top: 12px;
            background-color: $neutral-grey4;
        }
        &:after {
            margin-left: 2%;
        }
        &:before {
            margin-right: 2%;
        }
    }
}
