.OndernemerProfileHeader {
    margin-top: 2px;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    $self: &;

    &__profile-photo {
        margin-left: 10px;
    }
    &__text-wrapper {
        line-height: 19px;
    }
    &__id,
    &__name {
        display: block;
        //@include ;
    }
    &__id-label {
        display: none;
    }

    @media screen and (min-width: $screenMedium) {
        margin-top: -110px;
        &__id-label {
            display: inline-block;
        }
        &--inline{
            margin: $gutter-sm 0;
        }
    }

    &--inline{
        flex-direction: row;
        text-align: left;
        margin-bottom: $gutter;
        #{ $self }__profile-photo {
            margin: 0 $gutter-sm 0 0;
        }
    }

    .SollicitatieSpecs{
        width: 100%;
    }

}
