.OndernemerList {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 5%;
    @include p1;

    td,
    th {
        padding: 0 5px;
        font-size: 14px;
        line-height: 5mm;
        //height: 5mm;
        border: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .soll {
        }
    }
    th {
        padding-bottom: 5px;
        @include p1;
        &:nth-child(1) {
            width: 10px;
        }
    }
    a {
        text-decoration: none;
    }
    tr {
        &.vpl td:nth-child(2) {
            color: $primary-darkblue;
        }
        &.soll td:nth-child(2) {
            color: $supplement-darkgreen;
        }
        &.vkk td:nth-child(2) {
            color: $supplement-lightblue;
        }
        &.overig td:nth-child(2) {
            color: $support-focus;
        }
    }
    tr:nth-child(even) {
        td {
            position: relative;
            z-index: 0;
        }
        td:after {
            content: "";
            position: absolute;
            z-index: -1;
            //background: $neutral-grey2;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 5mm solid $neutral-grey2;
        }
    }
    &__table {
        width: 100%;
        border-collapse: collapse;
    }
    &__ondernemer--attending {
        &:before {
            @include icon($icon-Check-Mark);
        }
    }
    &:nth-child(2) {
        margin-left: 5%;
        margin-right: 0;
    }
    &__heading {
        display: block;
        margin: $vm2 0;
    }
}
