.Pil {
    display: inline-block;
    font-size: $fs-50;
    line-height: 19px;
    color: $primary-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px $vm2 0;
    background-color: $primary-black;
    border-radius: 10px;
    margin-left: 2px;
}
