.Pil {
    display: inline-block;
    font-size: $fs-40;
    line-height: 19px;
    color: $primary-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px $vm2 0;
    background-color: $primary-black;
    border-radius: 10px;
    margin-left: 2px;
    &--vpl {
        background-color: $primary-darkblue;
    }
    &--soll {
        background-color: $supplement-darkgreen;
    }
    &--vkk {
        background-color: $supplement-lightblue;
    }
    &--overig {
        background-color: $support-focus;
    }
}
