.PlaatsvoorkeurenForm {
    &__list {
        display: flex;
        flex-direction: column-reverse;
    }
    &__list-item {
        //display: flex;
        flex-wrap: wrap;
        margin-bottom: $vm4;
        .well {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--hidden {
            display: none;
        }
        &--readonly {
            select {
                background-color: transparent;
                border: none;
                pointer-events: none;
                color: $primary-black !important;
                padding: 0;
                @include fontBold;
            }
            .Select__wrapper--MarktplaatsSelect {
                min-width: 30px;
                width: auto;
            }
            .Select__wrapper--MarktplaatsSelect:after {
                display: none;
            }
        }
        &__clear {
            display: inline-block;
            width: 44px;
            height: 44px;
            text-decoration: none;
            text-align: center;
            border: 1px solid $neutral-grey4;
            font-size: 0;
            color: transparent;
            &:after {
                font-size: $fs-80;
                color: $neutral-grey5;
                @include icon($icon-Close);
                line-height: 42px;
            }
            &:hover {
                background-color: $primary-darkblue;
                border-color: $primary-darkblue;
                &:after {
                    color: $primary-white;
                }
            }
        }
        &.remove {
            color: $neutral-grey3;
            .PlaatsvoorkeurenForm__list-item__heading {
                display: none;
            }
            .PlaatsvoorkeurenForm__list-item__heading-remove {
                display: block;
            }
            .well {
                outline: 1px solid $neutral-grey4;
                background-color: transparent;
            }
        }
    }
    &__plaats-count {
        margin-top: $vm4;
    }
    &__plaats-count__wrapper {
        //&__plaats-count__item {
        display: inline-block;
        display: flex;
        input {
            position: absolute;
            width: 0;
            height: 0;
        }
        label {
            @include fontBold;
            display: inline-block;
            width: 70px;
            height: 40px;
            line-height: 40px;
            background-color: $neutral-grey5;
            color: $primary-white;
            text-align: center;
            margin: 0;
            margin-right: 5px;
        }
        input:checked + label + input:not(:checked) + label,
        input:checked + label + input:not(:checked) + label + input:not(:checked) + label,
        input:checked + label + input:not(:checked) + label + input:not(:checked) + label + input:not(:checked) + label,
        input:checked
            + label
            + input:not(:checked)
            + label
            + input:not(:checked)
            + label
            + input:not(:checked)
            + label
            + input:not(:checked)
            + label,
        input:checked
            + label
            + input:not(:checked)
            + label
            + input:not(:checked)
            + label
            + input:not(:checked)
            + label
            + input:not(:checked)
            + label
            + input:not(:checked)
            + label {
            background-color: $neutral-grey3;
        }
        &.extra {
            *:nth-child(2) {
                background-color: transparent;
                color: $primary-black;
            }
            label {
                background-color: $neutral-grey3;
            }
            input:checked + label {
                outline: 3px solid $primary-black;
            }
        }
    }
    &__plaats-count__label {
        @include fontBold;
        display: inline-block;
        margin: $vm1 0;
    }
    &__list-item--sortable .well {
        padding-right: 50px;
    }
    &__list-item__label {
        display: block;
        margin-bottom: 5px;
        width: 100%;
    }
    &__list-item__heading-remove,
    &__list-item__heading {
        width: 100%;
        margin: 0;
    }
    &__list-item__heading-remove {
        display: none;
    }
    &__list-item__value {
        @include fontBold;
    }
    &__list-item__wrapper__add {
        .no-options & {
            display: none;
            pointer-events: none;
        }
    }
    &__plaats-count-limit {
        label {
            @include fontBold;
        }
        margin-bottom: $vm6;
        .InputField--range {
            margin-top: $vm4;
        }
    }
    &__list-item__min-extra {
        margin-left: 10px;
    }
    &__list-item__extra .kraam {
        display: inline-block;
        width: 30px;
        height: 20px;
        background-color: $neutral-grey4;
        margin: 2px;
    }
    &__list-item__optional .kraam {
        background-color: $neutral-grey3;
    }
    &__list-item__explain {
        display: inline-block;
        width: 100%;
    }
    &__remove-wrapper,
    &__add-wrapper {
        display: inline-block;
        width: 129px;
        height: 36px;
        background-color: $primary-darkblue;
        font-size: 0;
        text-decoration: none;
        transition: all 0.3s;
        padding: 3px 0;
        position: relative;
        &:after {
            content: "plaats uitbreiding";
            color: $primary-white;
            font-size: $fs-40;
            line-height: 17px;
            @include fontBold;
            padding: 0 0 0 40px;
            display: inline-block;
            width: 40px;
        }
        &:before {
            content: "+";
            color: $primary-white;
            font-size: $fs-90;
            line-height: 40px;
            @include fontBold;
            padding: 0;
            display: inline-block;
            text-align: center;
            width: 40px;
            position: absolute;
            height: 38px;
            top: 0;
        }
        &:hover {
            background-color: $primary-darkblue-darker;
        }
        &.disabled {
            pointer-events: none;
            background-color: $neutral-grey3;
            &:after,
            &:before {
                color: $neutral-grey4;
            }
        }
    }
    &__remove-wrapper {
        &:after {
            content: "plaats verkleinen";
        }
        &:before {
            content: "-";
        }
    }
    &__list__tools {
        width: 100%;
        margin-top: 20px;
        * + * {
            margin-left: 10px;
        }
    }
    &__list-item__wrapper__add {
        width: 100%;
    }
    &__list-item__wrapper__remove {
        display: none;
        font-size: 0;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        width: 44px;
        height: 44px;
        background-color: $primary-darkblue;

        color: $primary-white;
        &:after {
            @include icon($icon-Close);
            color: $primary-white;
            font-size: $fs-80;
            line-height: 42px;
        }
        &:hover {
            background-color: $primary-darkblue;
            &:after {
                color: $primary-white;
            }
        }
    }
    &__list-item__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        //&:after {
        //    content: "en";
        //    display: inline-block;
        //    width: 50px;
        //    text-align: center;
        //}

        &:nth-last-child(2):after {
            display: none;
        }
        &:nth-last-child(2) .PlaatsvoorkeurenForm__list-item__wrapper__remove {
            display: inline-block;
        }
        &:nth-child(2) {
            padding-right: 0;
        }
        &:nth-child(2) .PlaatsvoorkeurenForm__list-item__wrapper__remove {
            display: none !important;
        }
    }
    &__list-item__tools {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__list-item__tools-del {
        display: block;
        font-size: 0;
        text-decoration: none;
        width: 40px;
        height: 40px;
        background-color: $primary-darkblue;
        border: 1px solid $primary-darkblue;
        &:hover {
            background-color: $primary-darkblue-darker;
        }
        .remove & {
            background-color: $primary-white;
            border-color: $neutral-grey4;
            color: $neutral-grey4;
            &:after {
                color: $neutral-grey4;
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $primary-black;
                top: 19px;
                transform-origin: center;
                transform: rotate(-45deg);
            }
        }
    }
    &__list-item__tools-del:after {
        @include icon($icon-Trash-Bin);
        font-size: 20px;
        display: inline-block;
        line-height: 38px;
        width: 38px;
        text-align: center;
        color: $primary-white;
    }
    &__list-item__wrapper {
    }
    &__list-item__wrapper:last-child:after {
        display: none;
    }
    &__plaatsId {
        pointer-events: none;
        border: none;
        @include fontBold;
        background-color: transparent;
        text-align: center;
        width: 50px;
        font-size: $fs-50;
    }
    @media screen and (min-width: $screenMedium) {
        &__list-item {
            justify-content: normal;
        }
        &__list-item--sortable .well {
            padding-right: 70px;
        }
        &__list-item__tools {
            right: 30px;
            top: 30px;
        }
    }
}
