.PlaatsvoorkeurenForm {
    &__list {
        display: flex;
        flex-direction: column-reverse;
    }
    &__list-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $vm2;
        &--hidden {
            display: none;
        }
        &--readonly {
            select {
                background-color: transparent;
                border: none;
                pointer-events: none;
                color: $primary-black !important;
                padding: 0;
                @include fontBold;
            }
            .Select__wrapper--MarktplaatsSelect {
                min-width: 30px;
                width: auto;
            }
            .Select__wrapper--MarktplaatsSelect:after {
                display: none;
            }
        }
    }
    &__list-item__label {
        display: block;
    }
    &__list-item__heading {
        width: 100%;
    }
    &__list-item__wrapper {
        display: flex;
    }
    &__list-item__wrapper + &__list-item__wrapper {
        &:before {
            content: "en";
            display: inline-block;
        }
    }
    &__plaatsId {
        pointer-events: none;
        border: none;
        @include fontBold;
        background-color: transparent;
        text-align: center;
        width: 50px;
        font-size: $fs-50;
    }
    &__list-item__label {
        display: none;
    }
    @media screen and (min-width: $screenMedium) {
        &__list-item {
            justify-content: normal;
        }
    }
}
