.table-cell--left {
    text-align: left;
}

.Plaats {
    &__prop {
        padding: 0 5px;
        flex-grow: 1;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        @include p1;
        font-size: 12px;
        line-height: 16px;
        border-top: none;
    }
    &__target {
        display: block;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    &__prop-plaats-nr {
        width: 5%;
        color: $primary-black;
        text-align: center;
        border-right: none;
        position: relative;
        z-index: 1;

        .roze & {
            background-color: #ff99cc;
        }
        .licht-blauw & {
            background-color: #ccffff;
        }
        .oranje & {
            background-color: #ff9900;
        }
        .blauw & {
            color: white;
            background-color: #333399;
        }
        .grijs & {
            background-color: #c0c0c0;
        }
        .groen & {
            background-color: #1fb714;
        }
        .licht-groen & {
            background-color: #99cc00;
        }
        .rood & {
            background-color: #ff0000;
        }
        .prom & {
            background-color: #fcf305;
        }
        .exp & {
            background-color: #99ccff;
        }
        @each $key, $color in $colorListBranch {
            .#{$key} & {
                background-color: $color;
            }
        }
        .kraam-8-meter {
            background-color: rgb(253, 152, 39);
        }

        .buiten-gebruik {
            background-color: rgb(218, 16, 25);
        }

        .branche-kaas &,
        .branche-bakker &,
        .branche-churros &,
        .branche-noten &,
        .branche-humus-olijven &,
        .branche-gebakken-vis & {
            background-color: rgb(192, 192, 192);
        }

        .branche-vis & {
            background-color: rgb(52, 55, 151);
        }

        .branche-natte-vis & {
            background-color: rgb(206, 255, 255);
        }

        .branche-kip & {
            background-color: rgb(154, 202, 39);
        }

        .branche-agf & {
            background-color: rgb(43, 181, 39);
        }

        .experimentele-zone & {
            background-color: rgb(155, 205, 253);
        }

        .branche-bak & {
            background-color: rgb(253, 155, 203);
        }

        .standwerkersplaats & {
            background-color: rgb(251, 241, 54);
        }
    }
    &__prop-vph {
        text-align: right;
        border-right: none;
    }
    &__prop-vph-description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 30%;
        border-left: none;
    }
    &--vph-attendance-not-attending {
        text-decoration: line-through;
    }
    &__prop-properties {
        border-right: none;
        .icon {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            line-height: 0;
        }
        @each $icon, $var in $iconListPlaats {
            .icon-#{$icon} {
                &:before {
                    @include icon($var);
                    font-size: 14px;
                }
            }
        }
    }
    &__prop-empty-fields {
        border-left: none;
        border-right: none;
        border-top: none;
    }
    &--first .Plaats__prop-properties,
    &--first .Plaats__prop-plaats-nr,
    &--first .Plaats__prop-vph-description,
    &--first .Plaats__prop-vph {
        border-top: solid 1px #000000;
    }
}
