$plaatsCellHeight: 16px;

.Plaats {
    position: relative;

    &__prop {
        position: relative;
        z-index: 1;
        padding: 0 7px 0 9px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        @include p1;
        font-size: 12px;
        line-height: $plaatsCellHeight;
        border-top: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-plaats-nr,
        &-branche {
            border-right: 0;
            color: $primary-black;
            -webkit-print-color-adjust:exact;
            color-adjust: exact;
            overflow: visible;
            padding: 0 2px;
            text-align: center;

            &.background-dark {
                color: whitesmoke;
            }
            &.background-light {
                color: $primary-black;
            }
        }
        &-soll {
            text-align: right;
            border-right: none;
            width: 39px;
            text-overflow: unset;
        }
        &-naam {
            padding: 0;
            width: 50%;

            >div {
                padding: 0 5px 0 2px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &-properties {
            border-right: none;
            min-width: $plaatsCellHeight;
            padding: 0;
            display: none;

            @media screen and (min-width: $screenMedium) {
                display: table-cell;
            }

            .icon {
                display: block;
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                line-height: 0;
            }
            @each $icon, $var in $iconListPlaats {
                .icon-#{$icon} {
                    &:before {
                        @include icon($var);
                        font-size: 14px;
                        text-align: center;
                        display: block;
                    }
                }
            }
            .icon-bankje:before {
                font-size: 9px;
            }
        }
        &-status {
            @include fontBold;
            border-left: none;
            color: $primary-white;
            font-size: 9px;
            padding: 0 4px;
            text-align: center;
            width: 25px;

            &--vpl {
                background-color: $primary-darkblue;
            }
            &--soll {
                background-color: $supplement-darkgreen;
            }
            &--exp {
                background-color: $supplement-purple;
            }
            &--vkk,
            &--tvpl,
            &--tvplz {
                background-color: $supplement-lightblue;
            }
            &--overig {
                background-color: $support-focus;
            }
        }

        &__icon {
            position: absolute;
            left: 3px;
            img {
                width: 9px;
                height: 9px;
            }
        }

    }

    &--vph-attendance-not-attending {
        .Plaats__prop-vph-description{
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: 50%;
                left: 0;
                border-top: 2px solid $primary-black;
            }
        }
    }
    &--vph-attendance-verified {
        .Plaats__prop-vph {
            border-left: 3px solid $primary-black;
        }
    }

    &--first .Plaats__prop {
        border-top: solid 1px #000000;
    }

    &.experimentele-zone .Plaats__prop:after,
    &.standwerkersplaats .Plaats__prop:after {
        content: "";
        position: absolute;
        border-top: 16px solid;
        left: 0;
        top: 0;
        right: 0;
        z-index: -1;
    }
    &.standwerkersplaats .Plaats__prop:after {
        border-top-color: #fbf136;
    }
    &.experimentele-zone .Plaats__prop:after {
        border-top-color: #9bcdfd;
    }
}
