.PrintPage {
}

@import "../global/variables";
@import "../global/designSystem";

body.page-print {
    background-color: $neutral-grey2;
}

.PrintPage {
    background-color: $primary-white;
    box-shadow: $boxShadowDefault;
    margin-bottom: 30px;
    &__ratio {
        position: relative;
        height: 0;
        width: 100%;
        &[data-ratio="210:297"] {
            padding-top: (297 / 210) * 100%;
        }
    }
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 40px);
        height: 100%;

        display: block;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 50px 20px 20px;
    }
    &__list-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        font-size: 0;
        &:after {
            content: "";
            clear: both;
            display: table;
        }
        .IndelingslijstGroup + .IndelingslijstGroup {
            margin-left: 4%;
        }
    }
    &__index {
        line-height: 30px;
        text-align: center;
        display: inline-block;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        border: 2px solid #000;
        border-radius: 50%;
    }
    &__heading {
        display: block;
        margin: 0;
        padding-right: 60px;
        margin-bottom: 10px;
    }
    &__street {
        width: 100%;
        height: 40px;
        margin-top: 60px;
        text-align: center;
    }
    &__label {
        display: inline-block;
        border-radius: 30px;
        border: 2px solid #000;
        line-height: 30px;
        padding: 0 15px;
        margin-left: 10px;
    }
}
@page {
    size: A4;
}
@media print {
    * {
        page-break-after: avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
    }
    body.page-print {
        background-color: transparent;
        .MarktDetailHeader,
        .Header {
            display: none;
        }
        .container {
            max-width: 100%;
        }
        .container__content {
            margin: 0;
        }
        .container__content h2,
        .container__content .PrintButton {
            display: none;
        }
        a {
            text-decoration: none;
        }
        .MarktDetailPage__header {
            display: none;
        }
        .PrintPage {
            display: block;
            page-break-after: auto;
            min-width: 0 !important;
            background-color: #fff;
            width: auto !important; /* 100% Might be breaking your current code. */
            height: auto !important;
            box-shadow: none;
            padding: 6mm;
            margin: 0;
            &__ratio {
                height: auto;
                position: static;
                padding-top: 0 !important;
            }
            &__wrapper {
                position: static;
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
            }
            &__heading {
                padding: 0;
                margin-bottom: 10px;
            }
            &__list-wrapper {
                display: block;
            }
        }
        .Street,
        .IndelingslijstGroup {
            display: inline-block;
        }
        .Street {
            background: none;
            border: none;
            &__title {
                background-color: $primary-white;
            }
        }
        .Street:before {
            border-color: $primary-black;
        }
        .Obstakel {
            &__street {
                background-color: $primary-white;
                &:before {
                    display: none;
                }
                &:after {
                    border-color: $primary-black;
                }
            }
            &__text {
                background-color: $primary-white;
            }
        }
    }
}
