.ProfilePhoto {
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    overflow: hidden;
    position: relative;
    img {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    @media screen and (min-width: $screenMedium) {
        width: 50px;
        height: 50px;
    }
}
