.Street {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    position: relative;
    @include h4;
    text-align: center;
    margin: 0;

    &:before {
        content: "";
        left: 0;
        border-bottom: 1px dashed $primary-black;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
    }
    &__title {
        position: relative;
        background-color: $primary-white;
        padding: 0 10px;
        z-index: 1;
    }
}
