:root {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr, th {
    padding: 0.5em 5ch 0.5em 1ch;
    text-align: left;
}

.kraam-8-meter {
    background-color: rgb(253, 152, 39);
}

.buiten-gebruik {
    background-color: rgb(218, 16, 25);
}

.branche-kaas,
.branche-bakker,
.branche-churros,
.branche-noten,
.branche-humus-olijven,
.branche-gebakken-vis {
    background-color: rgb(192, 192, 192);
    color: rood;
}

.branche-vis {
    background-color: rgb(52, 55, 151);
}

.branche-natte-vis {
    background-color: rgb(206, 255, 255);
}

.branche-kip {
    background-color: rgb(154, 202, 39);
}

.branche-agf {
    background-color: rgb(43, 181, 39);
}

.experimentele-zone {
    background-color: rgb(155, 205, 253);
}

.branche-bak {
    background-color: rgb(253, 155, 203);
}

.standwerkersplaats {
    background-color: rgb(251, 241, 54);
}
