.row {
    display: flex;
    justify-content: space-between;
    .col-1-2 {
        width: calc(50% - (30px / 2));
    }
    &--responsive {
        flex-direction: column;
        .col-1-2 {
            width: 100%;
        }
    }
    @media screen and (min-width: $screenMedium) {
        &--responsive {
            justify-content: space-between;
            flex-direction: row;
            .col-1-2 {
                width: calc(50% - (30px / 2));
            }
        }
    }
}
