.well {
    padding: $vm2 $hm2;
    background-color: $neutral-grey1;
    margin-bottom: $gutter;

    @media screen and (min-width: $screenMedium) {
        margin-bottom: calc( 2 * #{$gutter});
    }

    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }

    &--dark {
        background-color: $primary-darkblue;
        color: $primary-white;
    }

    &--disabled{
        background-color: $primary-red;
        border: 2px solid $primary-red;
        color: white;
        > {
            color: white;
        }
    }

    &--max-width {
        max-width: $fieldsetMaxWidth - (2 * $hm2);
    }

    @media screen and (min-width: $screenMedium) {
        padding: $vm4 $hm4;
        &--max-width {
            max-width: $fieldsetMaxWidth - (2 * $hm4);
        }
    }

    &--small{
        padding: $gutter;
    }
}
