.well {
    padding: $vm2 $hm2;
    background-color: $neutral-grey1;

    &--dark {
        background-color: $primary-darkblue;
        color: $primary-white;
    }
    & + & {
        margin-top: $vm4;
    }
    &--max-width {
        max-width: $fieldsetMaxWidth - (2 * $hm2);
    }

    @media screen and (min-width: $screenMedium) {
        padding: $vm4 $hm4;
        &--max-width {
            max-width: $fieldsetMaxWidth - (2 * $hm4);
        }
    }
}
